//------------------------------
//
// Float properties
//
// Under development
//
//------------------------------

.u-float-left { float: left; }
.u-float-right { float: right; }
.u-clear { clear: both; }
.u-group:after {
  content: "";
  display: block;
  clear: both;
}